<div class="card">
  <quill-view-html [content]="product['photo']"></quill-view-html>
  <div class="card-body">
    <h5 class="card-title">{{ product.title}}</h5>
    <p class="card-text">Цена: {{product['price']}} $</p>

    <div class="btn-container">
      <a [routerLink]="['/product', product.id]"
         class="btn btn-dark btn-sm"
         data-helper="Подробнее"
      >
        <i class="material-icons btn__icon">remove_red_eye</i>
      </a>
      <a [routerLink]="['/cart']"
         class="btn btn-dark btn-sm"
         (click)="addProductToCart(product)"
         data-helper="В корзину"
      >
        <i class="material-icons btn__icon">add_shopping_cart</i></a>
    </div>
  </div>
</div>
