
.button-container {

  display: flex;
  justify-content: space-evenly;
  margin-bottom: 25px;
  margin-top: 15px;
  padding-bottom: 15px;
  .btn {
    width: 15%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    &:hover {
      transform: scale(1.1);
      &:after {
        content: attr(data-helper);
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        z-index: 5;
        background: rgba(143, 143, 143, 0.9);
        color: #ffffff;
        font-size: 11px;
        padding: 5px 5px;
        border-radius: 5px;
      }
    }

  }
}
.description-title {
  width: 100%;
  text-align: center;
}

.description {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.flex-right {
  text-align: center;
}
.flex-left {
  text-align: center;
}



@media (max-width: 768px) {
  .button-container {
    .btn {
      width: 20%;
    }
  }
  .button-container {

    .btn {

      &:hover {
        &:after {
          display: none;
        }
      }

    }
  }
}


@media (max-width: 320px) {

  .button-container {
    padding-top: 10px;
    .btn {
      width: 25%;
    }
  }
  .content {
    padding-top: 30px;
    margin-top:20px;
  }
}


