<header class="header__container">
  <div class="container__main">
    <div class="header__body">
      <a [routerLink]="['/']">
        <div class="header__logo__container">
          <h2 class="left">Panda</h2>
          <p class="header__logo">
            <img src="./assets/icons/cute-fluffy-panda-face_1284-37906.jpg" alt="panda">
          </p>
          <h2 class="right">Admin</h2>
        </div>
      </a>
      <div class="header__burger__container">
        <div class="menu__block" *ngIf="auth.isAuthenticated(); else login">
          <a class="header__burger" (click)="onBurgerClick($event)">
            <span></span>
          </a>
          <nav class="header__burger__menu">
            <a class="header__burger__link" [routerLink]="['/admin', 'dashboard']">
              <i class="material-icons">dashboard</i></a>
            <a class="header__burger__link" [routerLink]="['/admin', 'add']">
              <i class="material-icons">add_circle_outline</i>
            </a>
            <a class="header__burger__link" [routerLink]="['/admin', 'orders']">
              <i class="material-icons">receipt_long</i></a>
            <a class="header__burger__link" [routerLink]="['/']">
              <i class="material-icons">store_mall_directory</i></a>
            <a (click)="logout($event)" class="header__burger__link">
              <i class="material-icons">exit_to_app</i>
            </a>
          </nav>
        </div>
      </div>

      <nav class="header__menu">
        <ul *ngIf="auth.isAuthenticated(); else login" class="header__list">
          <li routerLinkActive="active">
            <a [routerLink]="['/admin', 'dashboard']">Управление</a>
          </li>
          <li routerLinkActive="active">
            <a [routerLink]="['/admin', 'add']">Добавление</a>
          </li>
          <li routerLinkActive="active">
            <a [routerLink]="['/admin', 'orders']">Заказы</a>
          </li>
          <li routerLinkActive="active">
            <a href="#" (click)="logout($event)">
              Выйти
            </a>
          </li>

        </ul>
      </nav>

    </div>
  </div>
</header>

<ng-template #login>
  <nav class="header__menu">
    <ul class="header__list">
      <li routerLinkActive="active">
        <a [routerLink]="['/admin', 'login']">Войти</a>
      </li>
    </ul>
  </nav>

</ng-template>
<div class="container__main">
  <router-outlet>

  </router-outlet>

</div>


