<footer class="page-footer">
  <div class="container margin">
    <div class="footer-content">
      <div class="footer-info">
        <p><strong>Panda Shop</strong></p>
        <p  class="justify">Наш официальный онлайн магазин предоставляет большой выбор смартфонов,
          ноутбуков и планшетов всемирно-известной фирмы Panda. Так же здесь вы найдете множество гаджетов и аксессуаров.
          Благодаря работе напрямую с заводом-изготовителем мы всегда можем гарантировать самую низкую цену нашей продукции на рынке.
        </p>
      </div>
      <div class="footer-icons">
        <div class="icon">
          <a href="#">
            <img src="/assets/icons/vk_logo.png" alt="vk">
          </a>
        </div>
        <div class="icon">
          <a href="#">
            <img src="/assets/icons/insta_logo.png" alt="instagram">
          </a>
        </div>
        <div class="icon">
          <a href="#">
            <img src="/assets/icons/telega_logo.png" alt="telegram">
          </a>
        </div>

      </div>
    </div>
  </div>
  <div>
  </div>
  <div class="admin">
    <div class="admin-box">
      <a [routerLink]="['/admin']" class="admin">Войти как администратор</a>&nbsp;
      <i class="material-icons">input</i>
    </div>
  </div>
  <div class="copyright">
    © 2021 PandaShop
  </div>
</footer>

