.btn {
  margin: 10px;
  padding: 10px;
  background-color: #474545;
  color: #ffffff;
  font-size: 40px;
  &:disabled {
    color: silver;
    background-color: lightgray;
  }
}

p {
  font-size: 50px;
  line-height: 12px;
}
