.relative {
  position: relative;
  .round {
    display: flex;
    align-items: center;
    justify-content: center;
    top: -50%;
    left: -20%;
    width: 20px;
    height: 20px;
    position: absolute;
    font-weight: bold;
    color: #ffffff;
    background-color: #000000;
    border: 1px solid #ffffff;
    border-radius: 50%;
  }
}
